ion-card {
  margin-bottom: 1.5em;
  &:first-child {
    margin-top: 1.3em;
  }
}

.card {
  display: flex;

  &__left-content {
    display: flex;
    margin: auto 24px auto 0;
  }

  &__color-box {
    width: 36px;
    height: 36px;
    margin-right: 12px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.15);
  }

  .first {
    background-color: #d7fffd;
  }
  .second {
    background-color: #eca0b6;
  }
  .third {
    margin-right: 0;
    background-color: #fafba4;
  }

  &__right-content {
    flex: 1;
  }

  &__right-content-upper {
    display: flex;
    justify-content: space-between;
  }

  &__date {
    font-size: 1.3rem;
  }

  &__right-content-lower {
    text-align: left;
  }

  &__tag {
    width: 3em;
    display: inline-block;
    margin-right: 1em;
    background-color: #EFEFEF;
    text-align: center;
    font-size: 1.1rem;
  }
}
